#welcome__container {
  margin: 2rem auto;
  text-align: center;

  span {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Araboto', sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  #welcome__container {
    span {}
  }
}
