#dummy__container {
  margin: 0 auto;
  width: 80%;
  text-align: center;

  h1 {
    font-family: 'Araboto', sans-serif;
    font-size: 1.75rem;
  }

  span {
    font-family: 'Araboto', sans-serif;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 920px) {
  #dummy__container {
    margin: 18rem auto 0 auto;
    width: 60%;
    text-align: center;
  
    h1 {
      font-size: 1.2rem;
    }
  
    span {
      font-size: 0.75rem;
    }
  }
}
