#dummy__container {
  margin: 0 auto;
  width: 80%;
  text-align: center;

  h1 {
    font-family: 'Araboto', sans-serif;
    font-size: 1.75rem;
  }
}

#dummy-content__container {
  span {
    font-family: 'Araboto', sans-serif;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 920px) {
  #dummy__container {
    margin: 18rem auto 0 auto;
    width: 62%;
    text-align: center;
  
    h1 {
      font-size: 1.3rem;
    }
  }

  #dummy-content__container {
    text-align: left;
    width: 89%;
    margin: 3.4rem auto;

    span {
      font-size: 0.8rem;
    }
  }
}
