form {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: none;

  .input {
    width: 100%;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    background: none;
    background-color: transparent;
    margin: 0.25rem auto 1rem auto;
    font-family: 'Araboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    padding: 0.60rem 0;
    padding-left: 0.6rem;
  }

  select {
    width: 100%;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    background: none;
    margin: 0.25rem auto 1rem auto;
    font-family: 'Araboto', sans-serif;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.5);

    &::after {}
  }

  option {
    width: 100%;
  }

  span {
    font-size: 0.75rem;
    font-weight: 200;
    position: relative;
    top: -0.5rem;
    left: -3rem;
  }

  button {
    width: 100%;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    margin: 1rem auto 1rem auto;
    background-color: #EDEDED;
    font-size: 0.85rem;
    font-weight: 900;
    padding: 0.7rem 0;
  }
}

.error-text {}

#password-input__container {
  width: 100%;

  input {
  }

  #eye-icon {
    position: relative;
    right: -7rem;
    top: -2.5rem;
  }
}

@media only screen and (min-width: 920px) {
  form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: none;
  
    .input {
      width: 115%;
      border: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      background: none;
      background-color: transparent;
      margin: 0.25rem auto 1rem auto;
      font-family: 'Araboto', sans-serif;
      font-size: 0.60rem;
      letter-spacing: 0.03rem;
      padding: 0.60rem;
    }
  
    select {
      width: 122%;
      border: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      background: none;
      margin: 0.25rem auto 1rem auto;
      font-family: 'Araboto', sans-serif;
      font-size: 0.65rem;
      padding: 0.5rem;
      color: rgba(0, 0, 0, 0.5);
  
      &::after {}
    }
  
    option {
      width: 100%;
    }
  
    span {
      font-size: 0.52rem;
      font-weight: 200;
      position: relative;
      top: -0.75rem;
      left: -5.75rem;
    }
  
    button {
      width: 123%;
      border: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      margin: 0.25rem auto 1rem auto;
      background-color: #286EFA;
      color: white;
      font-size: 0.55rem;
      font-weight: 900;
      padding: 0.7rem 0;
    }
  }
  
  .error-text {}
}

@media only screen and (min-width: 750px) {
  #password-input__container {
    input {}

    #eye-icon {
      right: -11rem;
      font-size: 0.6rem;
    }
  }
}