@use './core/' as c;

.App {
  @include c.flexCenter(row);

  margin: 0 auto;
  width: 95%;
  height: 100vh;
}

#left__container {
  margin-left: auto;
  width: 65%;
  background-color: #F9F9F9;
  height: 100%;
  display: block;

  #head {
    height: 20%;
    display: block;
  }

  #body {
    display: block;
    height: 80%;
  }
}

#right__container {
  margin-right: auto;
  width: 35%;
  background-color: #286EFA;
  height: 100%;
  color: white;
}
